.Barriecito {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

.Horizon {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo-img {
	height: 62px;
}